<div class="header">
  <h1 style="text-align: center;">Lists</h1>
</div>
<div class="lists-index row justify-content-center">
  <% @lists.each do |list| %>
    <div class="list-card col-4 ml-1 mr-1 mb-1" style="background-image: url(https://source.unsplash.com/random);">
      <h3><%= link_to list.name, list_path(list) %></h3>
    </div>
  <% end %>
</div>
