<h1>Create new Bookmark</h1>

 <%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, collection: Movie.all.order(:title), prompt: "Select a movie", input_html: { data: { controller: "select2" } } %>
  <%= f.input :comment, placeholder: "Enter a comment about the movie" %>
  <%= f.submit "Add movie", class: "btn btn-flat" %>
<% end %>
